
:root {

  --clr-primary-1: #2E1A47;
  --clr-primary-2: #522D80;
  --clr-primary-3: #EDEDED;
  --clr-primary-4: #FCFCFD;
  --clr-primary-5: #FEFEFE;


  --clr-secondary-1: #F56600;

}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body{
  font-size: 1rem;
}


.btn-outline-primary{
  border: 2px solid var(--clr-primary-1);
  color: var(--clr-primary-4);
  background: transparent;
  padding: 5px 10px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.btn-outline-primary:hover{
  background: var(--clr-primary-1);
  border: 2px solid var(--clr-primary-1);
}

.btn-outline-secondary{
  border: 2px solid var(--clr-secondary-1);
  color: var(--clr-primary-4);
  background: transparent;
  padding: 5px 10px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.btn-outline-secondary:hover{
  background: var(--clr-secondary-1);
  border: 2px solid var(--clr-secondary-1);
  padding: 5px 10px;
  
}

.btn-secondary, .btn-secondary:hover{
  background: var(--clr-secondary-1);
  border: 2px solid var(--clr-secondary-1);
  color: var(--clr-primary-4);
  padding: 5px 10px;
  font-weight: 700;
  transition: all 0.5s ease;
}